
<h1> {{name}} </h1>

<dl>
  <td> Nombre: </td>
  <dd> {{name}} </dd>

  <td> Edad: </td>
  <dd> {{age}} </dd>

  <td> Método: </td>
  <dd> {{getHeroDescription()}} </dd>

  <td> Capitalizado: </td>
  <dd> {{capitaliceName}} </dd>

</dl>

<!-- El btn aparece solo si contiene diferente a Spiderman -->
<button
*ngIf=" name !== 'Spiderman' "
(click)="changeHero()"
class="btn btn-primary mx-4">
  Cambiar nombre
</button>

<!-- El btn aparece solo si contiene diferente a 35 -->
<button
*ngIf=" age !== 35 "
(click)="changeAge()"
class="btn btn-primary mx-4">
  Cambiar edad
</button>

<!-- El btn aparece solo si contiene diferente a 35 -->
<button
*ngIf="(age === 45)";
(click)="resetForm()"
class="btn btn-primary mx-4">
  Reset Form
</button>
